<form>
    <div>
        <label>My ETH:</label>
        <span>{{wallet && wallet.balance? wallet.balance : '0.0'}}</span>
    </div>
    <div>
        <label>Amount:</label>
        <button type="button" class="decrement-amount-button" (click)="decrementAmount()">-</button>    
        <span>{{amount}}</span>
        <button type="button" class="increment-amount-button" (click)="incrementAmount()">+</button>    
    </div>
    <div>
        <label>Total:</label>
        <span>{{total}}</span>
    </div>
    <button type="button" class="mint-button" (click)="mint()">Mint</button>
    <div *ngIf="drop && drop.address" class="details-link">
        <label>Smart Contract:</label>
        <a [href]="(isDev? 'https://polygonscan.com/address/' : 'https://etherscan.io/address/') + (drop? drop.address : '')" target="_blank">{{drop? drop.address : ''}}</a>
    </div>
</form>

<!-- Alert Modal -->
<div class="modal" tabindex="-1" id="alertModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{alertMessage}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
